<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if forms.modules.all|length < 0 %}
        <h3>Edit Modules of <b>{{ course.title }}</b></h3>
    {% else %}
        <h3>Add Modules in <b>{{ course.title }}</b></h3>
    {% endif %}

    {% if formset.errors %}
        {{  formset.errors }}
    {% endif %}

    {{ formset }}
    {{ formset.management_form }}
    <button type="submit">Save</button>


</form>
</body>
</html>